:root {
  --heading-text-color: #212121;
  --active-text-color: #2196f3;
  --title-text-color: #757575;
  --interactive-text-color: #ffffff;
  --bg: #F5F4FA;
}

.link {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: var(--heading-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  align-items: center;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


/* HEADER */

/*  logo */

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.color {
  color: var(--active-text-color);
}

/* Навигация */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  
}

.site-nav .item +.item {
  margin-left: 50px;
}

.site-nav .link {
  /* display: block; */
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-text-color);
}

.current {
  color: var(--active-text-color);
}

/* контакты */
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .item +.item {
  margin-left: 30px;
}

.contacts-imail,
.contacts-phone {
  display: flex;
  align-content: center;
  color: var(--title-text-color);
}
.contacts .contacts-imail:hover,
.contacts .contacts-imail:focus,
.contacts .contacts-phone:hover,
.contacts .contacts-phone:focus {
  color: var(--active-text-color);
}

/* main */

/* Baner */

.hero-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--interactive-text-color);
}

.container-hero {
  background-image: url(../images/baner.jpg);
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
}

/* button */

.button {
  display: block;
  padding: 10px 32px;
  border-color: var(--active-text-color);
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;  
  color: var(--interactive-text-color);
  background-color: var(--active-text-color);

}

.radio-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid transparent;

  color: var(--heading-text-color);
  background: var(--bg);
}
.radio-button:hover,
.radio-button:focus {
  color: var(--interactive-text-color);
  background: var(--active-text-color);
}

/* оссобенности */
/* about */

.section {
  padding-top: 94px;
}

.about {
  display: flex;
}

.about .item {
  width: 270px;
}

.about .item +.item {
  margin-left: 30px;
}

.about .img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--bg);
}

.section-title {
  margin: 0;
  margin-bottom: 10;
  padding-top: 30px;
 

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-text-color);
}

.section-text {
  margin: 0;
  padding-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* чем мы занимаемся */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work .container {
  flex-direction: column;
}

.work .list {
  display: flex;
}

.work .item +.item {
  margin-left: 30px;
}

.work-title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.work-totel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.work-text {
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--interactive-text-color);
  background: rgba(47, 48, 58, 0.8); /* что бы видно было текст */
}

/* НАША КОМАНДА */

  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  /*background: var(--bg);
  width: 1600px;*/
} 

 .team .container {
  flex-direction: column;
} 

.team-title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.team .item +.item {
  margin-left: 30px;
}

.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .list {
  display: flex;
}

.team-name {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-text-color);
}

.team-position {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* footer */

footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}




.logo-footer {
  color: var(--interactive-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;

  letter-spacing: 0.03em;
}

.adress-footer {
  padding-top: 20px;
}

.adress-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--interactive-text-color);
}

.adress-imail {
  padding-top: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-phone {
  padding-top: 9px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.connection-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--interactive-text-color);
}

/* портфолио */
/* main */
/* 


.list-items:not(:nth-last-child(-n+3)) {
  margin-bottom:20px;
} */

.portfolio{
  padding-top: 94px;
}

.portfolio-filter .item {
  width: 370px;
  height: 404px; 
}

.exaple-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-text-color);
}

.example-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.example-active {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--interactive-text-color);
  background: var(--active-text-color); /* на время*/
}

/* .header-container {
  width: ;
  height: ;


} */


